@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to Online Delivery Booking System</b></h1>
    <img src="~/DeliverySystem.jpg" />
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<p>
    Delivery’s aim is to build the operating system for commerce in India. We provide parcel transportation, warehousing, freight, reverse logistics, cross-border and technology services to over 10000 customers including all of India’s largest e-commerce companies and leading enterprises. Our supply chain platform and logistics operations bring flexibility, breadth, efficiency and innovation to our customers’ supply chain and logistics operations. Our operations, infrastructure and technology enable our customers to transact with us and our partners at the lowest costs.
</p>