@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <h1>Please Add New Booking or</h1>
    <h1>Your Bookings are accepted !!!</h1>

    <div>
        <a asp-controller="Customer" asp-action="MenuPageCustomer">Menu page</a>
    </div>
}
