@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
        <body>
           <center>
                <img src="~/poster.jpg" height=" 500" width="500" / >
           </center>
            <h3>About Us</h3>
            <br />
            <p>
                In the past 20 years, technology has radically changed the way we do business. Agreeing on deals has gone from a business lunch ending with a handshake to the click of a button.
                <br />
                Stores are constantly being replaced with websites. Countless other changes have meant that the way businesses function has changed fundamentally.
                <br />

                One such change that has a huge impact on businesses is how customers want to book services and products.
                <br />

                No more are they eager to get on the landline and call up a business to book an appointment – that’s old-school now.
                <br />

                They prefer to be able to go online to see all the time slots available and select the best one for them.
                <br />

                This makes it so much easier, not only for the client but for companies too.
                <br />

                So, Welcome to Online delivery booking system and book your orders
                <br />

                Let's Enjoy together
            </p>
        </body>
    </html>
}
