@model DeliverySystemProject.Models.User

@{
    ViewData["Title"] = "Login";
}

    <h1>Login </h1>


    <hr />

    <br />
    
        <div class="row">
            <div class="col-md-4">
                <form action="Login" method="post">

                    <table>
                        <td>
                        <tr>
                            <label><b>UserType</b></label>
                            <br />
                        </tr>
                        </td>
                        <td>
                        <tr>
                            <div>
                                <td>
                                    @Html.RadioButton("UserType", "Customer")
                                    <label>Customer</label>
                                </td>
                            </div>
                        </tr>

                        <tr>
                            <div>
                                <td>
                                    @Html.RadioButton("UserType", "Executive")
                                    <label>Executive </label>
                                </td>
                            </div>
                        </tr>

                    </table>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
      
            <div>
                <a asp-action="Register">New User Register here</a>
            </div>
       

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
