@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1> Enter Valid Username and Password </h1>
    <h4>or</h4>
    <h1>Admin does not verified you</h1>
    <h4>
        Check your details
    </h4>
    }