@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
    
    <style>
        ul {
            margin: 0
        }

            ul li {
                float: left;
            }

            ul li {
                padding: 20px;
                list-style: none;
            }
    </style>





    <div class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("RequestFromCustomers", "Booking")">

                    <b> Order Requests </b><br />
                </a>
            </li>
            <li>
                <a href="@Url.Action("RequestFromCustomers", "Booking")">
                    <b>  Status Update  </b>
                </a>
            <li>
                <a href="@Url.Action("LogOut", "Executive")">
                    <b>LogOut</b>
                </a>
            </li>
        </ul>

    </div>
    <center>
        <h1> Welcome Executive.....You can Take Orders Now</h1>
        <img src="~/services-2.gif" />
    </center>
        
    }
